.bar {
  fill: steelblue;
}

.highlight {
  fill: orange;
}
.gb:first {
  margin-top: 31px;
}
.gb {
  //   background: url("../../assets/img/mars-background.jpg") no-repeat;
  //   color: #fff;
  //   margin: 11px;
  //   width: 185px;
  //   height: 57px;
  //   margin: 4px;
  //   margin : 11
}
