<!-- <div id="mySidenav" class="sidenav">
  <a href="#" id="about"><span class="hide">Input</span> </a>

  <a href="#" id="contact"><span class="hide">Scenario Compare</span> </a>
</div> -->
<!-- <app-header-side></app-header-side> -->
<section id="create-head-section">
  <div class="container-fluid text-muted">
    <!-- <mat-tab-group mat-align-tabs="start">
      <mat-tab label="Simulator input"> -->
    <app-scenario-input></app-scenario-input>
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Scenario comparison"> -->
    <!-- <app-scenario-comparison></app-scenario-comparison> -->
    <!-- </mat-tab>
    </mat-tab-group> -->
  </div>
</section>
