#home-section {
  background-image: linear-gradient(
    to right bottom,
    var(--color-grey-light-1),
    var(--color-grey-dark-3)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  /* position: relative; */
}
#home-section .dark-overlay {
  // position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  // background: rgba(241, 206, 6, 0.7);
}
#home-section .home-inner {
  padding-top: 100px;
}
#home-section .card-form {
  background-color: var(--color-amber-1);
  opacity: 0.8;
}
#home-section .fa,
#create-section .fa {
  color: var(--color-amber-1);
  background: var(--color-grey-dark-1);
  padding: 5px;
  border-radius: 5px;
}
