.container-fluid {
  padding: 0px;
}
.content {
  display: flex;
}
app-header-side {
  flex: 0 0 7%;
  height: 100vh;
}
main {
  //   background-color: lightgray;
  //   border: 1px solid red;
  flex: 1;
}
