<div class="card shadows">
  <div class="card-body">
    <!-- <div class="clearfix">
      <div class="float-right mr-2 mt-1">
        <i
          class="fa fa-window-close"
          aria-hidden="true"
          (click)="removeScenario(simulated.key)"
        ></i>
      </div>
      <div class="float-right mr-5">
        <h5>{{ simulated.key }}</h5>
      </div>
    </div> -->
    <div class="d-flex justify-content-around">
      
      <div class="">
        <h5>{{ simulated.key }}</h5>
      </div>
      <div class="">
        <i
          class="fa fa-window-close"
          aria-hidden="true"
          (click)="removeScenario(simulated.key)"
        ></i>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <table class="table table-borderless pad-0">
        <tr style="font-size: 11px;">
          <th style="vertical-align: middle;">ABS Change</th>
          <th  style="vertical-align: middle;">% Change</th>
        </tr>
        <tr class="">
          <td>{{ simulated.absolute_change.units | number: decimalFormat }}</td>
          <td>
            {{ simulated.percent_change.units | number: decimalFormat }} %
          </td>
        </tr>
        <tr>
          <td>
            {{ simulated.absolute_change.tonnes | number: decimalFormat }}
          </td>
          <td>
            {{ simulated.percent_change.tonnes | number: decimalFormat }} %
          </td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.lsv | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.lsv | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.rsv | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.rsv | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.nsv | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.nsv | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>
            {{ simulated.absolute_change.nsv_tonnes | number: decimalFormat }}
          </td>
          <td>
            {{ simulated.percent_change.nsv_tonnes | number: decimalFormat }} %
          </td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.te | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.te | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>
            {{
              simulated.absolute_change.te_percent_lsv | number: decimalFormat
            }}
          </td>
          <td>
            {{
              simulated.percent_change.te_percent_lsv | number: decimalFormat
            }}
            %
          </td>
        </tr>
        <tr>
          <td>
            {{ simulated.absolute_change.te_units | number: decimalFormat }}
          </td>
          <td>
            {{ simulated.percent_change.te_units | number: decimalFormat }} %
          </td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.mac | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.mac | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>
            {{
              simulated.absolute_change.mac_percent_nsv | number: decimalFormat
            }}
          </td>
          <td>
            {{
              simulated.percent_change.mac_percent_nsv | number: decimalFormat
            }}
            %
          </td>
        </tr>
        <tr>
          <td>{{ simulated.absolute_change.rp | number: decimalFormat }}</td>
          <td>{{ simulated.percent_change.rp | number: decimalFormat }} %</td>
        </tr>
        <tr>
          <td>
            {{
              simulated.absolute_change.rp_percent_rsv | number: decimalFormat
            }}
          </td>
          <td>
            {{
              simulated.percent_change.rp_percent_rsv | number: decimalFormat
            }}
            %
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
