<table class="table table-hover">
    <thead>
      <tr>
        <th> </th>
        <th>
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Choose Date</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 color="primary"></mat-datepicker>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Choose Date</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Choose Date</mat-label>
            <input matInput [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3 color="primary"></mat-datepicker>
          </mat-form-field>
        </th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
      <tr>
        <th>Product group Retailer</th>
        <th>LPI %</th>
        <th>% RSP Increase</th>
        <th>% COGS Increase</th>
        <th>Base Price Elasticity used</th>
        <th>Base Price Elasticity (Manual Override)</th>
        <th>Competition</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ORBIT OTC - Magnit</td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5"   value="0.00">
                
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5"   value="0.00">
                
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5"   value="0.00">
                
              </mat-form-field>
        </td>
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>%</mat-label>
                <input matInput maxlength="5"   value="0.00">
                
              </mat-form-field>
        </td>
        <td><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <input matInput    value="">
          
        </mat-form-field></td>
        <td><mat-form-field class="example-full-width">
          <mat-label></mat-label>
          <input matInput   value="Not Follows">
          
        </mat-form-field></td>

      </tr>
      <tr>
        <td>ORBIT OTC - X5</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>ORBIT XXL - Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>BIG BARS - Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>BIG BARS- X5</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>STD BARS- Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>STD BARS - X5</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>STD BARS_MILKYWAY - Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>STD BARS_MILKYWAY - X5</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>BIG BARS_SNIKERSCRISPER - Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>BIG BARS_SNIKERSCRISPER - X5</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      <tr>
        <td>BIG BARS_SNIKERSCRISPER_DUQ - Magnit</td>
        <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
              <mat-label>%</mat-label>
              <input matInput maxlength="5"   value="0.00">
              
            </mat-form-field>
      </td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput    value="">
        
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label></mat-label>
        <input matInput   value="Not Follows">
        
      </mat-form-field></td>

      </tr>
      
    </tbody>
  </table>