// :host {
//   display: contents;
// }
// // app-simulate-summary-row {
// //   visibility: hidden;
// //   display: none;
// // }
td {
  padding-right: 0px;
  padding-left: 0px;
  vertical-align: middle;
  text-align: center;
}
.color-danger {
  color: red;
}
.color-success {
  color: green;
}
